# Avoid copying source code and node modules to keep the context clean
.git
.github
node_modules
frontend/node_modules

# Do not exclude target jar
!agroMarket/target/*.jar

# .dockerignore
target/
.git/
.github/
.idea/
.vscode/
*.iml
.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db
