[mysqld]
user = user
port = 3306
datadir = /app/mysql/data
socket = /app/mysql/run/mysqld.sock
pid-file = /app/mysql/run/mysqld.pid
log-error = /app/mysql/log/error.log
bind-address = 127.0.0.1
mysqlx = OFF
